.chat-message {
	font-size: 16px;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 5px;
    max-width: 60%;
    display: flex;
}
.chat-time {
	font-size: x-small;
	margin-left: 6px;
    height: 12px;
    align-self: flex-end;
}

.chat-receiver {
	margin-left: auto;
	background-color: #dcf8c6;
}
.chat-message  > a {
	display: flex;
    align-items: center;
    gap: 10px;
	text-decoration: none;
}

.chat-message  > a > .MuiSvgIcon-root{
	font-size: 40px;
}

.message-text{
	word-wrap: break-word;
	max-width: 95%;
}